<strong>Empleado estrella</strong>
<ul>
    @if (trabajadorExterno){
        <button (click)="cambiarExterno (false)">Mostrar internos</button>
        <li>{{ empleadoExt.nombre }}</li>
    }@else {
        <button (click)="cambiarExterno (true)">Mostrar externos</button>
        <h2>Lista de trabajadores internos</h2>
        @for (empleado of trabajadores; track empleado; let index = $index){
            <p>Empleado {{ index +1}}</p>
            <li>{{ empleado.nombre }}</li>
            @if (empleado.contratado){
                <li>Trabajador contratado</li>
            }@else {
                <li>Trabajador no contrarado</li>
            }
        }
    }
</ul>
